.header {
    min-height: 70px;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.header a[class='active'] {
    text-decoration: underline;
    color: green;
}

.outlet {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
}
.postsAll, .usersAll {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
h5 {
    margin: 1px;
}

.commentDetails {
    margin: 20px;
}

.oneUser {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
button {
    width: 75px;
    height: 25px;
}

.photosAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    justify-content: space-between;
    padding: 10px;
}

img {
    height: 100px;
    width: 100px;
}